@page
@model Projekt.Pages.Kategorie.IndexModel

@{
    ViewData["Title"] = "Kategorie na Liście";
}
<head>
    <style>
    body {
        background-color: lightblue;
    }   
    </style>
</head>
<h1>Kategorie</h1>

<p>
    <a asp-page="Create">Dodaj nowa kategorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kategoria[0].Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Kategoria) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edytuj kategorie</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Szczegoly kategorii</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Usun kategorie</a>
            </td>
        </tr>
}
    </tbody>
</table>
